.layout {
  display: flex;
  min-height: 100vh;
}

.layout-content {
  flex: 1;
  margin-left: 68px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #f8fafc;
  transition:none;
}

.main-content {
  flex: 1;
  padding: 28px;
  overflow-y: auto;
}
.layout.sidebar-collapsed .layout-content {
  margin-left: 68px;
}

@media (max-width: 768px) {
  .layout-content {
    margin-left: 0 !important;
  }

  .main-content {
    padding: 16px;
    padding-bottom: 80px; // bottom nav için boşluk
  }
}